<div class="container mt-5">
  <h4>Add article</h4>
        <%= simple_form_for([@category, @article])  do |f| %>
          <%= f.input :title, label: 'Article title: ' %>
          <%= f.input :content, as: :text, label: 'Article content:' %>
          <%# <%= f.input :photos, as: :file, input_html: { multiple: true } # we will have to add that later %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
    <br>
</div>
