<div class="container">
  <div class="back-to-btn">
    <i class="fa-solid fa-arrow-left"></i>
    <%= link_to "Back to articles", categories_path(@article.category.id), class: "back-to-link" %>
  </div>
  <div class="article-content">
    <div class="article-header">
      <div class="article-title">
        <h4><%= @article.title %></h4>
        <h5>By: <%= @article.user.first_name %></h5>
      </div>
      <div class="article-buttons">
        <span class="message-icon">
          <i class="fa-regular fa-message fa-padding fa-biggish"></i>
        </span>
        <i class="fa-regular fa-star fa-2x fa-padding fa-bigger"></i>
      </div>
    </div>
    <div class="article-text">
      <h3>Posted on: <%= @article.created_at.strftime("%B %d %Y") %></h3>
        <p><%= @article.content %></p>
    </div>
   </div>
</div>
