<div class="container" data-controller="translate">
    <div class="back-to-btn-article">
      <div class="back-to-text">
        <i class="fa-solid fa-arrow-left"></i>
        <%= link_to "Back to articles", category_path(@article.category), class: "back-to-link" %>
      </div>
      <div class="language-picker">
        <%= render "shared/languagepicker" %>
      </div>
    </div>

    <div class="article-content">
      <div class="article-header">
        <h4><%= @article.title %></h4>
        <h5>Posted on <%= @article.created_at.strftime("%Y-%m-%d") %></h5>
        <h5>By: <%= link_to (@article.user.username), user_path(@article.user.id) %></h5>
          <div class="article-buttons">
            <% if @article.user == current_user %>
              <span class="message-icon">
                <%= link_to edit_article_path do %>
                  <i class="fa-regular fa-pen-to-square fa-xl user-icon blue-icon" title="Edit article"></i>
                <% end %>
              </span>
              <%= link_to article_path, method: :destroy, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-regular fa-trash-can fa-xl user-icon blue-icon" title="Delete article"></i>
              <% end %>
            <% else %>
              <span class="message-icon">
                <%= link_to chatroom_path(@chatroom) do %>
                  <i class="fa-regular fa-message fa-padding fa-biggish user-icon" title="Message the author"></i>
                <% end %>
              </span>
              <%= simple_form_for [@article, @article.favourites.new] do |f| %>
                <% array_1 = current_user.favourites.ids.select { |el| @article.favourite_ids.include?(el)} %>
                  <% if !array_1.empty? %>
                    <%= link_to favourites_path do %>
                      <i class="fa-solid fa-star fa-2x fa-padding fa-bigger"></i>
                    <% end %>
                  <% else %>
                    <i> <%= f.button :button, class: "fa-regular fa-star fa-2x fa-padding fa-bigger", title: "Favourite this article" do %> </i>
                  <i></i>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div data-translate-target="card">
        <%= render "articles/cardcontent", article: @article %>
      </div>
    </div>

    <div class="comment-section">
    <div class="comment-section-title">
      <h4>Comments</h4>
    </div>

    <div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
      <div class="comment-content" data-insert-in-list-target="items">
        <% @article.comments.each do |comment| %>
          <%= render "articles/comment", comment: comment %>
        <% end %>
      </div>

      <%# trying some ajax here %>

      <%= render "comments/form", article: @article, comment: @article.comments.new  %>
    </div>

  </div>
</div>
