<div class="container">
  <div class="profile-picture">
   <%= image_tag(@user.photo, class: "profile-image") %>
  </div>

  <div class="user-box">
    <div class="user-header">
     <h1>Welcome back, <%= @user.first_name %> !</h1>
        <div class="user-button">
          <%= link_to edit_user_registration_path do %>
           <i class="fa-regular fa-pen-to-square fa-xl user-icon"></i>
          <% end %>
          <%= link_to articles_path do %>
            <i class="fa-regular fa-file-lines fa-xl other-icon"></i></i>
           <% end %>
        </div>
    </div>



  <div class="user-content">
    <div class="row">
      <div class="column">
        <div class="column-header">
          <p>Full Name</p>
        </div>
        <div class="column-text">
          <p><%= @user.first_name  %> <%= @user.last_name %></p>
        </div>
        <div class="column-header">
          <p>Username</p>
        </div>
        <div class="column-text">
          <p><%= @user.username  %></p>
        </div>
        <div class="column-header">
          <p>Email address</p>
        </div>
        <div class="column-text">
          <p><%= @user.email  %></p>
        </div>
        <div class="column-header">
          <p>Location</p>
        </div>
        <div class="column-text">
          <p><%= @user.location%></p></p>
        </div>
      </div>
    </div>
  </div>
</div>
