<div class="container">
  <div class="profile-picture">
    <% if @user.photo? %>
      <%= image_tag(@user.photo, class: "profile-image") %>
    <% else %>
      <img src="https://res.cloudinary.com/diafrrnkz/image/upload/v1678366392/Screenshot_2023-03-09_at_13.51.43_ziieip.png" class="profile-image">
    <% end %>
  </div>

  <div class="user-box">
    <div class="user-header">
     <h1><%= @user.first_name %>'s profile</h1>
     <h5><%= @user.username %></h5>
        <div class="user-button">
        <p>User points: <%= @user.points %></p>
        </div>
      </div>



    <div class="user-content">
      <div class="user-articles">
        <%= @user.first_name %>'s articles
      </div>
        <% @user.articles.each do |article| %>
          <li class="article-list">
            <ul><%= link_to article.title, article_path(article.id)%></ul>
          </li>
        <% end %>
    </div>
  </div>
</div>
