<div class="container sticky-scroll-container">
  <div class="sticky-primary-view">
    <div class="back-to-btn">
      <i class="fa-solid fa-arrow-left" style="color:#032033"></i>
      <%= link_to "Back to categories", categories_path, class: "back-to-link", style:"color:#032033" %>
    </div>

    <div class="categories-articles-container">
      <div class="category-title">
        <%= @category.title %>
        <p><%= link_to "Add an article", new_category_article_path(@category) %></p>
      </div>
          <% @category.articles.each do |article| %>
          <%= link_to category_article_path(@category, article), class:"text-decoration-none text-reset" do %>
            <div class="category-article-card">
              <p class="category-article-title"> <%= article.title %> </p>
              <p class="category-article-author"> by <%= article.user.first_name %> </p>
            </div>
            <% end %>
          <% end %>
    </div>
  </div>
</div>
